/* BookShow.css */

.book-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.book-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    color: #888;
    transition: color 0.3s;
}

.edit-button:hover, .delete-button:hover {
    color: #333;
}
